/* CSS for Insta Page */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(198, 198, 250);
    font-family: "Poppins", sans-serif;
    color: rebeccapurple;
    text-shadow: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    margin: 0;
}

h1 {
    margin-top: 75px;
}

a {
    display: none;
}

/*********************************** content boxes ************************************************************/
.box {
    font: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
    transform: translateX(400%);
    transition: transform 0.4s ease;
}

.box:hover img {
    opacity: 0.5;
}

.box:hover .btn {
    font: inherit;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    border: #fff solid 0.01rem;
    font-size: 1rem;
    font-weight: bold;
    width: 10rem;
    padding: 1rem;
}

.btn:hover {
    background-color: rebeccapurple;
}

.box:nth-of-type(even) {
    transform: translateX(-400%);
}

.box.show {
    transform: translateX(0);
}

.box img {
    border-radius: 10px;
    align-items: center;
    height: 400px;
    width: 400px;
    object-fit: cover;
}

/*********************************** nav bar ************************************************************/

.container {
    margin: 0 auto;
}

.nav {
    position: fixed;
    background-color: rebeccapurple;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.nav .container {
    display: flex;
    align-items: center;
    padding: 2px 0;
}

.nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.nav li {
    padding-left: 5px;
}

.nav li:hover {
    background-color: indigo;
    font-weight: bold;
}

.nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 12px 18px;
    text-decoration: none;
}

/*********************************** search widget ************************************************************/

.text a {
    display: flex;
}

.search {
    float: right;
    margin-right: 15px;
    padding: 12px 18px;
}

.search .input {
    background-color: #fff;
    border: 0;
    font-size: 14px;
    padding: 5px;
    height: 25px;
    width: 25px;
    transition: width 0.3s ease;
    float: right;
}

.butn {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 14px;
    position: absolute;
    float: inline-end;
    /* top: 0;
    left: 0; */
    height: 25px;
    width: 25px;
    transition: transform 0.3s ease;
    margin-right: 50px;
}

.butn:focus,
.input:focus {
    outline: none;
}

.search.active .input {
    width: 150px;
}

.search.active .butn {
    transform: translateX(148px);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: indigo;
    border-radius: 12px;
    height: 25px;
}
